.testimonials{
    width: 80%;
    margin: auto;
    h3{
        margin-top: 9.2rem;
        text-align: center;
        text-transform: Uppercase;
        font-family: 'Fraunces', serif;
        font-size:1.75rem ;
        font-weight: 600;
        color:#A9ADAE ;

        }
}

.testimonial__wrapper{
    margin-top: 4.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.25rem;
   
}

.testimonial__card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height:21.562rem;
    width: 33%;
    max-width:20rem ;
    margin-bottom: 10rem;
    img{
        width: 4.625rem;
        border-radius: 50%;
    }

    p{
        line-height: 2rem;
        text-align: center;
        color: #757679;
        font-weight: 600;
    }
   
}

.testimonial__user{
    text-align: center;
    h4{
        font-size: 1.25rem;
        font-family: 'Fraunces', serif;
        font-weight: 600;

    }

    h5{
        margin-top: 1rem;
        color: #A9ADAE;
    }
}


@media screen and (max-width: 690px){
    .testimonials{
        width: 90%;
        margin: auto;
        h3{
            font-size: 1rem;
            letter-spacing: 6px;
            margin-top: 5rem;
        }
    }
    .testimonial__card{
        width: 90%;
        margin: 1rem auto;
    }
}